html, body {
  height: 100%;
  margin: 0;
}

.grid-container{
    border: 3px solid #fff;
    padding: 2%;
    display:grid;
    margin-top: 10%;
    margin-left:10%;
    margin-right:10%;
    height: auto;
    grid-template-columns: auto auto;
    background-color: #2196F3;
}
#container1,#container2{
background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-right:2%;
}

.item img{
  width:100px ;
  height: 100px;
  margin-right: 1px;
}

.item {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin-bottom: 10px;
}

.item.dragging {
   opacity: 0.5;
}

.success-message {
   display: none;
   color: green;
   font-weight: bold;
   margin-top:5%;
   margin-left: 44%;
}

.reset-button button{
  position: fixed;
  border-radius:50%;
  background-color:rgba(230, 255, 110, 1);
  margin-top: 10px;
  margin-left: 48%;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.8);
}
